{% extends 'base/tablebase.html' %}
{% block title %}Usuarios{% endblock %}

{% block main %}

    <div class="container-fluid px-4">
        <h1 class="mt-4">Usuarios</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Listado de Usuarios
            </div>
            
            <div class="card-body">


                <table id="example" class="display compact" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Rol</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if object_list %}
                            {% for us in object_list  %}
                                {% if us.id != user.id %}
                                    <tr>
                                        <td>{{us.id}}</td>
                                        <td>{{us.first_name}}</td>
                                        <td>{{us.last_name}}</td>
                                        <td>{{us.email}}</td>
                                        <td>{{us.role}}</td>
                                        <td>
                                            <a name="" id="" class="btn btn-warning" href="{% url 'usuarios:update_user' us.id %}" role="button">
                                                <i class="fa fa-edit"></i></a>
                                            <a name="" id="" class="btn btn-danger" href="{% url 'usuarios:delete_user' us.id %}" role="button">
                                                <i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
            
        </div>
        <a name="" id="" class="btn btn-danger" href="{% url 'main:home' %}" role="button">
            <i class="fa fa-home"></i> Volver</a>
        <a name="" id="" class="btn btn-success" href="{% url 'usuarios:create_new_user' %}" role="button">
            <i class="fa fa-add"></i> Nuevo Usuario</a>
    </div>


{% endblock %}
