{% extends 'base/base.html' %}
{% load static %}
{% block title %}Usuarios{% endblock %}
{% block content %}
<body class="sb-nav-fixed">
    {% include 'base/navbar.html' %}
    <div id="layoutSidenav">
        {% include 'base/sidenav.html' %}
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Usuarios</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                    
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Listado de Usuarios
                        </div>
                        
                        <div class="card-body">
                            <a name="" id="" class="btn btn-success" href="#" role="button">Nuevo Usuario <i class="fa fa-add"></i></a>

                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Email</th>
                                        <th>Rol</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if object_list %}
                                        {% for us in object_list  %}
                                    <tr>
                                        <td>{{us.id}}</td>
                                        <td>{{us.first_name}}</td>
                                        <td>{{us.last_name}}</td>
                                        <td>{{us.email}}</td>
                                        <td>{{us.role}}</td>
                                        <td>
                                            <a name="" id="" class="btn btn-warning" href="#" role="button"><i class="fa fa-edit"></i></a>
                                            <a name="" id="" class="btn btn-danger" href="#" role="button"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </main>
            {% include 'base/footer.html' %}
        </div>
    </div>
    {% include 'base/scripts.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'assets/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'assets/demo/chart-bar-demo.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
</body>
{% endblock %}