<!-- Modal Log Out-->
<div class="modal fade" id="modalLogOut" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{% block modaltitle %}Cerrar sesión{% endblock%}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {%block modalbody %}¿Desea cerrar sesión?{% endblock %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
          {% block modalbuttons %}          
            <a href="{% url 'main:logout' %}">
            <button type="button" class="btn btn-primary" >Cerrar Sesión</button>
            </a>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Delete User from Table -->
<div class="modal fade" id="modalDeleteUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Usuario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Desea eliminar al usuario?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                 
          <a href="{% url 'main:logout' %}">
          <button type="button" class="btn btn-primary" >Cerrar Sesión</button>
          </a>
        
      </div>
    </div>
  </div>
</div>