{% extends 'base/tablebase.html' %}
{% block title %}Productos{% endblock %}

{% block main %}

    <div class="container-fluid px-4">
        <h1 class="mt-4">Productos</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Listado de Productos
            </div>
            
            <div class="card-body">


                <table id="example" class="display compact" style="width:100%">
                    <thead>
                        <tr>
                            <th>Cod.</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Stock</th>
                            <th>Categoria</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if object_list %}
                            {% for prod in object_list  %}
                               
                                <tr>
                                    <td>{{prod.code}}</td>
                                    <td>{{prod.name}}</td>
                                    <td>${{prod.price}}</td>
                                    <td>
                                        {% if prod.stock <= 3 %}
                                        <span style="color:red;">{{prod.stock}}</span>
                                        {% else %}
                                            {{prod.stock}}
                                        {% endif %}
                                    </td>
                                    <td>{{prod.category_product}}</td>
                                    {%if prod.available %}
                                        <td><span style="color:green; font-weight: bold;">ACTIVO</span></td>
                                    {% else %}
                                        <td><span style="color:red; font-weight: bold;">NO ACTIVO</span></td>
                                    {% endif %}
                                    <td>
                                        <a name="" id="" class="btn btn-info" href="{% url 'productos:detail_product' prod.code %}" 
                                        role="button">
                                            <i class="fa fa-circle-info"></i></a>
                                        <a name="" id="" class="btn btn-warning" href="{% url 'productos:update_product' prod.code %}" 
                                        role="button">
                                            <i class="fa fa-edit"></i></a>
                                        <a name="" id="" class="btn btn-danger" href="{% url 'productos:delete_product' prod.code %}" 
                                        role="button">
                                            <i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                               
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
            
        </div>
        <a name="" id="" class="btn btn-danger" href="{% url 'main:home' %}" role="button">
            <i class="fa fa-home"></i> Volver</a>
        <a name="" id="" class="btn btn-success" href="{% url 'productos:create_new_product' %}" role="button">
            <i class="fa fa-add"></i> Nuevo Producto</a>
        <a name="" id="" class="btn btn-primary" href="{% url 'productos:categories_view' %}" role="button">
            <i class="fa fa-list"></i> Ver Categorías</a>
        <a name="" id="" class="btn btn-dark" href="#" role="button">
            <i class="fa fa-credit-card"></i> Comprar a proveedor</a>
    </div>


{% endblock %}

