{% extends 'base/base.html' %}
{% block title %}Gestion Categorías{% endblock %}
{% block main %}
<div style="padding:50px;">
    {% if gestion == 'trash' %}
        <form method='POST'>
            <!-- Security token -->
            {% csrf_token %}
            <h1>¿Deséa eliminar categoría {{object.name_category}}?</h1>
            <ul>
                <li><strong>Ultima Actualización:</strong> {{object.updated}}</li>
                <li><strong>Fecha de creación:</strong> {{object.created}}</li>
            </ul>
            <a name="" id="" class="btn btn-primary" href="javascript: history.go(-1)" role="button">
                <i class="fa fa-ban"></i> Cancelar</a>
            <button class="btn btn-danger" type="submit"><i class="fa-solid fa-trash"></i> Eliminar</button>
        </form>
    {% else %}
        <div class="container containerFormBorder">
            <div class="form-group" style="padding:20px">
                <form method="POST">
                    <!-- Security token -->
                    {% csrf_token %}
                    <!-- Using the formset -->
                    {% if gestion == 'new' %}
                        <h1>Nueva Categoría</h1>
                    {% elif getion == 'edit' %}
                        <h1>Editar Categoría</h1>
                    {% else %}
                        <h1>{{ categ.name_category }}</h1>
                    {% endif %}
                    <div class="row" style="text-align:left;">
                        <div class="col">
                            {% if gestion == 'detail' %}
                                <div class="row">
                                    <div class="col">
                                        <ul>
                                            <li><p><strong>Creado:</strong> {{ categ.created|date:"d/m/Y H:i:s" }}</p></li>
                                             
                                            <li><p><strong>Actualizado:</strong> {{ categ.updated|date:"d/m/Y H:i:s" }}</p></li>
                                            
                                            <li><p><strong>Cantidad Productos:</strong> {{ listado_productos|length }}</p></li>

                                        </ul>
                                    </div> <!-- Cierre col 1 -->
                                </div> <!-- Cierre row 1 -->

                                {% if listado_productos %}

                                <div class="row">
                                    <div class="col">
                                        <h2>Productos</h2>
                                    </div ><!-- Cierre col 1 -->
                                </div> <!-- Cierre row 2 -->

                                <div class="row">
                                    <div class="col">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">IMAGEN</th>
                                                        <th scope="col">CODIGO</th>
                                                        <th scope="col">PRODUCTO</th>
                                                        <th scope="col">ACCIONES</th>
                                                    </tr>
                                                </thead>
                                                <tbody style="text-align: left; vertical-align: middle;">
                                                    {% for producto in listado_productos %}
                                                    <tr class="">
                                                        <td style="width: 10%;"><img src="{{ producto.image.url }}" class="card-img-top table-img-products" alt="..."></td>
                                                        <td>{{producto.code}}</td>
                                                        <td>{{producto.name}}</td>
                                                        <td>
                                                            <a name="" id="" class="btn btn-info" href="{% url 'productos:detail_product' producto.code %}" 
                                                            role="button"><i class="fa fa-circle-info"></i> Detalles</a>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div> <!-- Cierre de table-responsive -->
                                    </div>  <!-- Cierre col 1 -->
                                </div> <!-- Cierre row 3 -->
                                {% endif %}

                            {% else %}
                                {{ form.as_p }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a name="" id="" class="btn btn-danger" href="javascript: history.go(-1)" 
                            role="button"  style="width:100%">
                                <i class="fa fa-arrow-left"></i> Volver</a>
                        </div>
                        <div class="col">
                            {% if gestion != 'detail'%}
                                <button class="btn btn-success" type="submit" style="width:100%">
                                    <i class="fa-solid fa-floppy-disk"></i> Guardar</button>
                            {% endif %}
                        </div>
                        
                    </div>              
                </form>
            </div> <!-- FORM GROUP -->
        </div> <!-- CONTAINER -->
    {% endif %}
</div> <!-- STYLE PADDING -->

{% endblock %}